altgraph==0.17.2
click==8.0.4
colorama==0.4.4
Flask==2.0.3
future==0.18.2
gunicorn==20.1.0
itsdangerous==2.1.0
Jinja2==3.0.3
MarkupSafe==2.1.0
mysql-connector==2.2.9
pefile==2021.9.3
pyinstaller==4.9
pyinstaller-hooks-contrib==2022.2
python-dotenv==0.19.2
python-http-client==3.3.6
pywin32-ctypes==0.2.0
sendgrid==6.9.6
starkbank-ecdsa==2.0.3
Werkzeug==2.0.3
