<div class="center">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Desarrolo con pasion aplicaciones y sitios web para personas y empresas</h1>
                <p>Constatemente me encuentro en un pleno desarrollo de aprendisaje con nuevas tenologias 
                    y en un constante desarryo de aplicaciones por mero placer, esta web fue construida 
                    desde cero con python y flasky estoy entucisamado de conocer y aprender mas sobre este mundo
                </p>
            </div>
            <div class="rigtht padded">
                <h1>Podemos conversar de lo que quieras!</h1>
                <p>Solo enviame un correo <a class="orange" href="#contacto">pinchando aqui</a></p>
            </div>
        </div>
    </div>
</div>
