<div class="center padded ">
    <div class="centent padded">
        <div class="padded">
            <h1>No estas convencido mira lo que construido!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer app</h3>
                <p>Una aplicacion que envia correos utlizando una API de Sendgrid.</p>
                <a class="orange" target='_blank' href="https://mailerapp-cdxm.onrender.com">Link aqui</a>
            </div>
            <div class="row">
                <div class="card third">
                    <h3> Gestor de clientes </h3>
                    <p>Una aplicacion para gestionar mis clientes.</p>
                    <a class="orange" target='_blank' href="{{url_for('static',filename='calculadora.exe')}}">Link aqui</a>
                </div>
                <div class="row">
                    <div class="card third">
                        <h3> Conversor de pies a metros </h3>
                        <p>Una aplicacion para convertir de pies a metros</p>
                        <a class="orange" target='_blank'href="{{url_for('static',filename='libreta-cliente.exe')}}">Link aqui</a>
                    </div>

        </div>
    </div>
</div>

